<h1>Authors</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
  </tr>
  <% @authors.each do |author| %>
    <tr>
      <td><%= author.name %></td>
      <td><%= link_to 'Show', author_path(author) %></td>
    </tr>
  <% end %>
</table>

<div>
  <%= link_to 'New Author', new_author_path %>
</div>
